
{% if slug == "/" %}<h1>{% endif %}<a href="/" class="hubmark" title="{{ site_options.doodle_description }}">Hub<span class="asterisk"></span></a>{% if slug == "/" %}</h1>{% endif %}
<div class="hub-navigation section-navigation">
	<a href="/about">About</a>
	<a href="/events">Events</a>
	<a href="/media">For&nbsp;Media</a>
	<a href="/pix">Hub/Pix</a>
	<a href="/subscribe">Subscribe</a>
</div>
