<div class="media-sidebar sidebar col end">
		
	<div class="section">
		<h3><span>Contact a Media Rep</span></h3>
		<p>Johns Hopkins is a big place. Let us make your job a little easier by connecting you with the right media representative.</p>
		<p><a class="btn" href="/media/contact">Contact information &raquo;</a></a>
	</div>

	<div class="section">
		<h3><span>Media Resources</span></h3>
		<ul>
			<li><a href="http://webapps.jhu.edu/jhuniverse/information_about_hopkins/about_jhu/a_brief_history_of_jhu/index.cfm">A brief history of Johns Hopkins</a></li>
			<li><a href="http://webapps.jhu.edu/jhuniverse/information_about_hopkins/facts_and_statistics/johnshopkinsfactbook.pdf">Facts and statistics</a></li>
			<li><a href="http://webapps.jhu.edu/jhuniverse/information_about_hopkins/visitor_information/">Information for visitors</a></li>
			<li><a href="http://webapps.jhu.edu/jhuniverse/news_and_publications/">Johns Hopkins publications</a></li>
			<li><a href="http://webapps.jhu.edu/jhuniverse/administration/">Johns Hopkins administration</a></li>
			<li><a href="http://webapps.jhu.edu/jhuniverse/about_johns_hopkins/social_media/">JHU on social media</a></li>
		</ul>
	</div>

	<div class="section">
		<h3><span>Featured Video</span></h3>
		<div class="video">
			<a onclick="_gaq.push(['_trackEvent', 'Video', 'Play', '']);" href="http://www.youtube.com/watch?v=lNxxju6Etio" class="videopow">
				<img src="http://hub.jhu.edu/factory/sites/default/files/styles/hub_thumbnail/public/reel-thumb.jpg" alt="">
				<i class="icon icon-play"></i>
			</a>
			

			<div class="teaser article">
				<div class="teaser-text">
					<h2><a onclick="_gaq.push(['_trackEvent', 'Video', 'Play', '']);" href="http://www.youtube.com/watch?v=lNxxju6Etio" class="videopow">Johns Hopkins in the news</a></h2>
					<div class="summary">A brief look at recent media coverage of news from Johns Hopkins University</div>
				</div>
			</div>

			{#}<p><a onclick="_gaq.push(['_trackEvent', 'Video', 'Play', '']);" href="http://www.youtube.com/watch?v=lNxxju6Etio" class="videopow"><em>Watch video &raquo;</em></a></p>{#}

		</div>
	</div>

	<div class="section">
		<h3><span>High Resolution Photos</span></h3>
		<div>
			<a href="/media/photos"><img src="/assets/img/hub/media/promo/1.jpg" class="col" /></a>
			<a href="/media/photos"><img src="/assets/img/hub/media/promo/2.jpg" class="col" /></a>
			<a href="/media/photos"><img src="/assets/img/hub/media/promo/4.jpg" class="col end" /></a>
		</div>
		<p><a href="/media/photos"><em>Download hi-res photos &raquo;</em></a></p>
	</div>

</div>