<div class="social-share force">
	<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="I just read {{ results.magazine.headline }} from the Johns Hopkins Magazine. You should too." data-related="JohnsHopkins" data-count="none" data-hashtags="jhmag">Tweet</a>
	<div 
		class="fb-like" 
		data-send="false" 
		data-width="450" 
		data-show-faces="false" 
		data-action="recommend"
		>
	</div>
</div>