{% extends "articles/magazine/single.twig" %}

{% block magazine_inset %}
	<div class="article-inset">
		<p class="special-note">Give us your feedback by sending a letter to the editor via email to <a href="mailto:cpierre@jhu.edu">cpierre@jhu.edu</a>. (We reserve the right to edit letters for length, style, clarity, and civility.)</p>
	</div>
{% endblock %}