<form action="/search" method="GET" class="search-box">
	<label><input type="text" name="q" class="box" /></label>
	<button type="submit"><i class="icon icon-chevron-right"></i><span>Go</span></button>
</form>