<div class="span3">
	<ul class="nav nav-pills nav-stacked">
		<li{% if subactive == "index" %} class="active"{% endif %}><a href="/manager/users">All Users</a></li>
		<li{% if subactive == "create" %} class="active"{% endif %}><a href="/manager/users/create">Create a User</a></li>
	</ul>
</div>