{% extends "layouts/manager.twig" %}

{% block content %}

	<div class="page-header">
		<h1>Edit Page: {{ page_data.title }} <small>{{ page_data.endpoint }}</small></h1>
	</div>

	{% include "partials/messages.twig" %}

	<div class="row">
		{{ forms.edit_form(versions.active, page_data) }}
	</div>

{% endblock content %}

{% block jsdocready %}
    {{ parent() }}
    manager.pages.edit.init();
{% endblock %}
