<div class="sub-navigation span3">
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><a href="#pagesTopics" data-toggle="pill">Home/Topics</a></li>
		<li><a href="#pagesHub" data-toggle="pill">Hub</a></li>
		<li><a href="#pagesMagazine" data-toggle="pill">Magazine</a></li>
		<li><a href="#pagesGazette" data-toggle="pill">Gazette</a></li>
	</ul>
</div>